# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:Admin@localhost:5432/fraud_detection")

# Quering out card holders long with the timestamp and amount details
query = f"""
        SELECT c.cardholder_id as cardholder, t.date as hour, t.amount
        FROM credit_card as c
        INNER JOIN transaction as t on c.card = t.card;
        """

# Create the dataframe based on the query
df = pd.read_sql(query, engine)
df.head()

   cardholder                hour  amount
0          13 2018-01-01 21:35:10    6.22
1          13 2018-01-01 21:43:12    3.83
2          10 2018-01-01 22:41:21    9.61
3           4 2018-01-01 23:13:30   19.03
4          18 2018-01-01 23:15:10    2.95

In [3]:
# Write function that locates outliers using standard deviation
def outliers(df):
    std = df['amount'].std()
    mean = df['amount'].mean()
    df = df.loc[(df['amount'] > mean+std*2) | (df['amount'] < mean-std*2)]
    return df

In [4]:
# Find anomalous transactions for 3 random card holders

# Randomly fetching 3 different card holders IDs
id_1, id_2, id_3 = random.choices(df['cardholder'], k=3)

# Calling outliers func for first card holder
df_1 = outliers(df.loc[df['cardholder'] == id_1])

# Calling outliers func for second card holder
df_2 = outliers(df.loc[df['cardholder'] == id_2])

# Calling outliers func for third card holder
df_3 = outliers(df.loc[df['cardholder'] == id_3])

# Displaying all outliers in one dataframe
df_all = pd.concat([df_1, df_2, df_3], axis='rows', join='inner')
df_all

      cardholder                hour   amount
2313          10 2018-08-28 07:17:14    20.71
487           18 2018-02-19 22:48:25  1839.00
925           18 2018-04-03 03:23:37  1077.00
1508          18 2018-06-03 20:02:28  1814.00
1956          18 2018-07-18 09:19:08   974.00
2425          18 2018-09-10 22:49:41  1176.00
3095          18 2018-11-17 05:30:43  1769.00
3324          18 2018-12-13 12:09:58  1154.00
121           20 2018-01-14 06:19:11    21.11
1287          20 2018-05-11 12:43:50    20.56
2297          20 2018-08-26 07:15:18    23.13
2694          20 2018-10-07 08:16:54    20.44
3024          20 2018-11-09 19:38:36    20.27

## Identifying Outliers Using Interquartile Range

In [5]:
# Write a function that locates outliers using interquartile range
def iqr(df):
    q3 = df['amount'].quantile(0.75)
    q1 = df['amount'].quantile(0.25)
    iqr_val = q3 - q1
    
    upper_bound = q3 + iqr_val*1.5
    lower_bound = q1 - iqr_val*1.5
    
    df = df.loc[(df['amount'] > upper_bound) | (df['amount'] < lower_bound)]
    return df

In [6]:
# Find anomalous transactions for 3 random card holders

# Assumption made as same before random 3 card holders outliers calculate using this method

# Calling iqr func for first card holder
df_3 = iqr(df.loc[df['cardholder'] == id_1])

# Calling iqr func for second card holder
df_4 = iqr(df.loc[df['cardholder'] == id_2])

# Calling iqr func for third card holder
df_5 = iqr(df.loc[df['cardholder'] == id_3])

# Displaying all outliers in one dataframe
df_all_1 = pd.concat([df_3, df_4, df_5], axis='rows', join='inner')
df_all_1

      cardholder                hour  amount
53            18 2018-01-07 01:10:54   175.0
67            18 2018-01-08 11:15:36   333.0
487           18 2018-02-19 22:48:25  1839.0
925           18 2018-04-03 03:23:37  1077.0
1508          18 2018-06-03 20:02:28  1814.0
1763          18 2018-06-30 01:56:19   121.0
1832          18 2018-07-06 16:12:08   117.0
1956          18 2018-07-18 09:19:08   974.0
2363          18 2018-09-02 11:20:42   458.0
2425          18 2018-09-10 22:49:41  1176.0
3095          18 2018-11-17 05:30:43  1769.0
3324          18 2018-12-13 12:09:58  1154.0